@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
p{
  font-size: small;
}
.maindiv{
  margin-left:100px;
  margin-right:100px;
  margin-bottom:100px;
  margin-top:50px;
}
.paragraphdiv{
width: 50%;
}
h1{
  font-size: x-large;
}
h3{
  font-weight: 400;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.learnmore{
  font-weight: 400;
  font-size: large;
  padding-top: 40px;
  padding-bottom: 0px;
}

.tooltip {
  background-color: #000;
  color: #fff;
  position: absolute;
}

.infoContainer {
  display: flex;
  flex: row;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 2%;

}
.chart{
  background-color: #fff;
  padding: 20px;
  border-radius: 2%;
}

.purpleContainer{
  border: 3px solid rgb(255, 0, 234);
  padding: 20px;
  margin: 20px;
  width: 25%;
}
.redContainer{
  border: 3px solid rgb(247, 0, 0);
  padding: 20px;
  margin: 20px;
  width: 25%;
}
.greenContainer{
  border: 3px solid rgb(0, 247, 21);
  padding: 20px;
  margin: 20px;
  width: 25%;
}
.blueContainer{
  border: 3px solid rgb(41, 0, 247);
  padding: 20px;
  margin: 20px;
  width: 25%;
}